.navbar_container {
  width: 100vw;
  margin: 0 auto;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0em 1.5em;
  background-color: #2d1b42;
  color: #fff;
}

.navbar_logo {
  display: flex;
  align-items: center;
}

.navbar_logo img {
  width: 60px;
  margin-right: 0.8em;
}

.navbar a {
  display: block;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em 0.8em;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_content {
  display: none;
  position: absolute;
  left: -7em;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  color: #2d1b42;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown_content {
  display: block;
}
