.activity_details_container {
  text-align: center;
}

.activity_details_header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.activity_details_h1 {
  flex: 0 1 auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.activity_details_subcontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: start;
  margin-inline: 35%;
}

.activity_details_container p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.detail_block {
  border-bottom: 1px solid #2d1b42;
  margin-bottom: 0.5em;
}

.activity_images {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.btns button {
  border-radius: 8px;
  min-height: 2.5rem;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0.5em;
}

.btns .btn1 {
  background-color: #25b456;
  color: #fff;
  border: 2px solid #25b456;
}

.btns .btn2 {
  background-color: #fff;
  color: #2d1b42;
  border: 2px solid #2d1b42;
}

.btns .btn1:hover {
  background-color: #1c8a42;
  border: 2px solid #1c8a42;
}

.btns .btn2:hover {
  background-color: #db1a2e;
  border: 2px solid #db1a2e;
  color: #fff;
}

.new_message_icon {
  flex: 0 1 auto;
  visibility: visible;
  width: 70px;
  height: 60px;
  margin-left: auto;
  border-radius: 40% 0 40% 40%;
  background-color: #2d1b42;
}

.new_message_icon:hover {
  background-color: #1c8a42;
}

.activity_images img {
  max-height: 200px;
  border-radius: 1em;
}

.activity_details_container button:hover {
  background-color: #1c8a42;
}
