.sportslist_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.sportslist_header h1 {
  margin: 0;
}

.sportslist_header a {
  text-decoration: none;
  background-color: #16479d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  padding: 0.5em 0.8em;
  border-radius: 5px;
  border: 2px solid #16479d;
}

.sportslist_header a:hover {
  background-color: transparent;
  color: #16479d;
}

.sportslist_container {
  display: flex;
  flex-direction: column;
}

.sportslist_row {
  border-bottom: 1px solid #16479d;
  padding: 1em;
  margin: 1em;
  display: flex;
  align-items: center;
  width: 100%;
}

.sportslist_row img {
  margin-right: 1em;
}

.sportslist_row span {
  min-width: 100px;
}

.actions {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.actions a,
.actions button {
  color: #2d1b42;
  border: 2px solid #2d1b42;
  background-color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 7px 12px;
  margin: 0.5em;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.actions .btn1:hover {
  background-color: #1c8a42;
  border: 2px solid #1c8a42;
  color: #fff;
}

.actions .btn2:hover {
  background-color: #db1a2e;
  border: 2px solid #db1a2e;
  color: #fff;
}

.actions a:hover,
.actions button:hover {
  background-color: #2d1b42;
  color: #fff;
}

.actions .conclude_btn {
  color: #25b456;
  border-color: #25b456;
}

.actions .conclude_btn:hover {
  color: #fff;
  background-color: #25b456;
}

.mysport_image {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

/* my adoptions */
.details {
  margin: 1em;
}

.details p {
  margin: 15px;
}

.details h3 {
  margin: 15px;
}
